<nav class="navbar navbar-expand-lg navbar-light" style="background: white">
  <a class="navbar-brand" routerLink="">GoRent</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/discover">Discover</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
    <button id="login_btn" class="btn btn-light my-2 my-sm-0 btn-rounded" type="submit" routerLink="/login">Login</button>
    <button id="signup_btn" class="btn btn-outline-danger btn-orange my-2 my-sm-0 btn-rounded" type="submit">Signup</button>

  </div>
</nav>
