.example-card {
  max-width: 400px;
  height: 100%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.truncate-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.truncate-3line-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ngx-pagination {
  padding-left: 0px !important;
}

.ngx-pagination .current,
.btn-info {
  background: #17a2b8 !important;
  border: transparent !important;
  border-radius: 20px !important;
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
  color: black;
}

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #dc3545 !important;
}

ngb-pagination ::ng-deep ul > li.active > a.page-item.active .page-link {
 border-color: red;
}
